<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Limo powered by ExLibris fueled by Libis</title>
	<script src="./javascript/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
	<script src="./javascript/jquery.json-1.3.min.js" type="text/javascript" charset="utf-8"></script>	
	<script src="./javascript/jquery.ba-url.min.js" type="text/javascript" charset="utf-8"></script>		
	<script src="./javascript/jquery.bookmark.pack.js" type="text/javascript" charset="utf-8"></script>		
	<script src="./javascript/jquery.primo.js" type="text/javascript" charset="utf-8"></script>
				
</head>
<body>	
		
	<div id='lbs-main-container'>
		<noscript>
				Javascript must be enabled to continue.
		</noscript>
	</div>

	<div id='PNX' style='display:none; position:fixed; overflow:scroll; z-index:999; top:50px; bottom:50px; left:50px; right:50px; background-color:white;'>
		<div style='position:fixed; top:1px; left:1px;background-color:red; color:white;'>
			<a class='pnxClose' href="#">close</a>
		</div>
		<div id='pnxData'></div>
	</div>	
</body>
</html>
