<div id='feedback_frame'>
	<form id='feedback_form' method='post' action='#'>
		<div>
			<label for='feedback_subject'>Subject</label>
		</div>
		<div>
			<input type='text' id='feedback_subject' name='feedback_subject' value='' />
		</div>
		<div>
			<label for='feedback_email'>Your Email address</label>					
		</div>
		<div>		
			<input type='text' id='feedback_email' name='feedback_email' value='' />
		</div>			
		<div>
			<label for='feedback_text'>Your feedback</label>
		</div>
		<div>		
			<textarea id='feedback_text' name='feedback_text' value='' />
		</div>	
		<br />
		<div>
			<input type='submit' value='Send'>
		</div>
	</form>
</div>
<div id='feedback_button' />